html, body{
    font-family: 'Josefin Slab', serif;
    padding: 0px; margin: 0
}
header{
    background-color:#B9DDE2;
    padding:0px;
    text-align: center
}

header img{
    border-radius: 1050px;
    width: 600px;
    height: 600px;
    margin-bottom: -90px;
      
}
header h2{
    font-size: 80px;
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
    color: white;
    margin-bottom: -130px
}
h1{
    font-size: 150px;
    color: black;
    font-family: 'IM Fell English SC', serif;, 
    margin: -50px; 
}

h2{
    font font-size: 50px;
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
    text-align: center
}

.content{
    max-width: 600px;
    margin: auto;
    padding:0 20px;
}
img.big-image{
    max-width: 100%;
}
p{
    font-family: 'Josefin Slab', serif;
    font-size: 18px;
    font-weight: "semi-bold";
    text-align: justify
}
p.caption{
    font-size: 14px;
    font-style: italic;
    color: lightgray;   
}
ul{
    list-style: none;
    font-size: 20px;
    text-align: center
}

a{
    color:#B9DDE2;
    text-decoration: none
}
footer{
    background-color: #4A4A49;
    padding: 20px;
    color:white
}
footer ul li{
    display: inline-block;
    margin: 0 10px
}
/*  

    font-family: 'IM Fell English SC', serif;

    font-family: 'Josefin Slab', serif;

*